img {
    width: 125px;
    padding-left: 5px;
    padding-right: 5px;
}




/* <a href='https://www.freepik.com/free-vector/lovely-collection-of-watercolor-kittens_1233230.htm'>Designed by Freepik</a> */
