.App {
  /* display: grid; */
  /* grid-template-rows: 50px 1fr; */
  grid-template-columns: 100px 1fr 100px;
  text-align: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #generator {
  grid-row: 1/ span 3;
  text-align: center;
} */

/* #rNum {
  grid-row: 1/ span 3;
  text-align: center;
} */